.navbar{
  background-color: rgb(55, 182, 182);
}

.nav-item{
  margin-right: 37px;
}
.jumbotron{
  text-align: center;
  background-color: rgb(239, 252, 252);
  height: 490px;
}
.jumbotron h1{
  font-weight: bolder;
  font-size: 34px ;
  padding-top: 35px;
}
.project{
  margin-top: 100px;
}
.project h2 {
  margin-bottom: 100px;
}
